@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Belo Horizonte<br />
    Minas Gerais<br />
   
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:gleidson@tecnotera.com">gleidson@tecnotera.com</a><br />
   
</address>