@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>SGDSP</h1>
        <h2>Sistema de gerenciamento de doação de sangue e plaquetas</h2>*@










    <!-- Carousel
         ================================================== -->
    <section id="carousel">
        @*<div class="page-header">
                <h1>Carousel <small>bootstrap-carousel.js</small></h1>
            </div>*@

        @*<h2>Example carousel</h2>*@
        @*<p>The slideshow below shows a generic plugin and component for cycling through elements like a carousel.</p>*@
        <div class="bs-docs-example">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://sgdsp-hol-es.umbler.net/Imagens/primeiro.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>SGDSP</h4>
                            <p>Sistema de Gerenciamento de Doação de Sangue e Plaqueta</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://sgdsp-hol-es.umbler.net/Imagens/segundo.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>Agendamento</h4>
                            <p>Agende sua doação online em nosso site</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://sgdsp-hol-es.umbler.net/Imagens/terceiro.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>SGDSP</h4>
                            <p>Qualidade em atndimentos de saúde</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>






















</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beneficios do sistema</h2>
        <p>
            Uma vez que a ONG controlova a quantidade de bolsas de sangue e plaquetas disponíveis, doadores, hospitais e laboratórios credenciados por meio de manuais, foi solicitado o desenvolvimento de um software para tornar tais controles mais rapidos e otimizados.

            AONG, hospitais e laboratórios credenciados poderão administrar a quantidade de bolsas de sangue e fluxo de forma mais rápida comparada ao modo  atual. Em consequencia, será possível tornar o processo desde o cadastro do doador até o receptor mais dinâmico.

            Os doadores poderão, via web cadastrar-se e agendar a doação sem a necessidade de ligação telefônica ou comparecimento à UCT (Unidade de Coleta e Transfusão), mais uma vez o fluxo será otimizado.

            Portanto, o sistema atende ao lado responsável pela coleta, redistribuição e controle, bem como ao doador. Atendendo a esses dois personagens, espera-se que todo o processo seja favorecido e otimizado.

        </p>
        @*<p><a class="btn btn-default" href="#">Continue lendoe &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Escopo do sistema</h2>
        <p>
            O Sistema de Gerenciamento de Doação de Sangue e Plaqueta (GDSP) visa atender as necessidades da ONG para a administração de doações de sangue e plaqueta.

            Por meio do aplicativo será possível controlar assiduidade dos doadores, agendar via web doações, motivo da doação, gerar relatórios pertinentes as especificações da coleta efetuada, controlar a quantidade de  bolsas de sangue disponíveis, cadastrar laboratórios envolvidos, bem como demais outras atividades relacionadas a coleta e gerenciamento de bolsas de sangue e plaqueta e doadores.

        </p>
        @*<p><a class="btn btn-default" href="#">Continue lendoe &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Limites do sistema</h2>
        <p>
            O aplicativo não auxilia na ação de coleta de sangue, dessa maneira, tal aplicativo não é usual em tarefas técnicas e pontuais no que diz respeito a procedimentos de coleta, avalição do material colhido e não apontará um diagnóstico do material colhido.

            O GDSP busca atender às expectativas pertinentes ao gerenciamento dos atores envolvidos e controle da quantidade e fluxo de bolsas de sangue e plaqueta e geração de relatórios pós coleta.

        </p>
        @*<p><a class="btn btn-default" href="#">Continue lendoe &raquo;</a></p>*@
    </div>


</div>